::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    box-shadow: border-box;
}

.leaflet-control-attribution,
.gmnoprint,
.gm-style-cc {
    display: none;
}

html {
    height: 100%;
    background: #333333;
}

body {
    margin: 0;
    height: 100%;
    color: #FFF;
    font-family: "Roboto", "Noto Sans CJK JP", "Noto Sans JP", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W3", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-family: "Roboto Condensed";
    font-size: 80px;
}

h2 {
    margin-bottom: 5px;
}

ul, ol, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 100vh;
}

.label {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 5px;
}

.value {
    color: #FFF;
    margin-right: 20px;
}

.value:not(:last-child)::after {
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.6);
    content: "/";
}

.material-icons {
    vertical-align: text-top;
    font-size: inherit;
}

.overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.overlay #info {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: right;
}

.overlay #info #corner {
    display: inline-block;
    height: inherit;
    width: 30px;
    border-top: 128px solid rgba(218, 56, 56, 0.75);
    border-left: 80px solid transparent;
}

.overlay #info #text {
    display: inline-block;
    background: rgba(218, 56, 56, 0.75);
    padding: 10px 25px;
}

.overlay #info #text #epicenter {
    font-family: "Roboto Condensed";
    font-size: 64px;
}

.overlay #info #text #details {
    font-family: "Roboto Condensed";
    font-size: 28px;
}

.overlay #map {
    z-index: 5;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

.box {
    display: flex;
}

.box:first-child .sidebar,
.box:first-child .content {
    padding-top: 50px;
}

.box .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: none;

    width: 250px;
    font-size: 80px;
    padding: 30px 20px;
    background: #2A2A2A;
    text-align: center;
}

.box .content {
    flex: 1;
    padding: 30px 50px;
}

.forecast {
    display: inline-block;
    margin-top: 10px;
}

.forecast ol {
    display: flex;
    flex-wrap: wrap;
}

.forecast li {
    display: flex;
    font-size: 1.1em;
    width: 320px;
    text-align: middle;
    margin: 15px 15px 0 0;
}

.forecast li div {
    display: inline-block;
    padding: 2px 0;
    margin-right: 12px;
}

.forecast li .value {
    margin: 0;
}

.forecast li #temp {
    width: 25px;
}

.forecast li #temp div {
    display: block;
}

.forecast li #temp #min {
    color: rgba(255, 255, 255, 0.6);
}

.forecast li #temp #max {
    padding-top: 3px;
}

.forecast li #details {
    padding-top: 3px;
}

.forecast li #details div {
    display: block;
}

.forecast li #details #date {
    color: rgba(255, 255, 255, 0.6);
}

.forecast li #icon {
    padding-top: 5px;
}

#fires,
#majorfires {
    margin-top: -20px;
}

#majorfires .sidebar .material-icons {
    font-size: 78px;
}

#majorfires .content #place {
    font-size: 52px;
    margin-top: -12px;
}

#majorfires .content #status {
    font-size: 24px;
}

#fires {
    /*height: 380px;*/
    flex-direction: column;
    flex-wrap: wrap;
}

#fires .sidebar {
    display: block;
}

#fires .sidebar .icon {
    display: block;
    height: 60px;
    font-size: 60px;
}
